* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

.row {
  margin-bottom: 15px; }
  .row::after {
    clear: both;
    display: block;
    content: ""; }

.col {
  float: left; }

.col1 {
  width: 8.3333333333%; }

.offset1 {
  margin-left: 8.3333333333%; }

.col2 {
  width: 16.6666666667%; }

.offset2 {
  margin-left: 16.6666666667%; }

.col3 {
  width: 25%; }

.offset3 {
  margin-left: 25%; }

.col4 {
  width: 33.3333333333%; }

.offset4 {
  margin-left: 33.3333333333%; }

.col5 {
  width: 41.6666666667%; }

.offset5 {
  margin-left: 41.6666666667%; }

.col6 {
  width: 50%; }

.offset6 {
  margin-left: 50%; }

.col7 {
  width: 58.3333333333%; }

.offset7 {
  margin-left: 58.3333333333%; }

.col8 {
  width: 66.6666666667%; }

.offset8 {
  margin-left: 66.6666666667%; }

.col9 {
  width: 75%; }

.offset9 {
  margin-left: 75%; }

.col10 {
  width: 83.3333333333%; }

.offset10 {
  margin-left: 83.3333333333%; }

.col11 {
  width: 91.6666666667%; }

.offset11 {
  margin-left: 91.6666666667%; }

.col12 {
  width: 100%; }

.offset12 {
  margin-left: 100%; }

@media (min-width: 720px) {
  .colM1 {
    width: 8.3333333333%; }

  .offsetM1 {
    margin-left: 8.3333333333%; }

  .colM2 {
    width: 16.6666666667%; }

  .offsetM2 {
    margin-left: 16.6666666667%; }

  .colM3 {
    width: 25%; }

  .offsetM3 {
    margin-left: 25%; }

  .colM4 {
    width: 33.3333333333%; }

  .offsetM4 {
    margin-left: 33.3333333333%; }

  .colM5 {
    width: 41.6666666667%; }

  .offsetM5 {
    margin-left: 41.6666666667%; }

  .colM6 {
    width: 50%; }

  .offsetM6 {
    margin-left: 50%; }

  .colM7 {
    width: 58.3333333333%; }

  .offsetM7 {
    margin-left: 58.3333333333%; }

  .colM8 {
    width: 66.6666666667%; }

  .offsetM8 {
    margin-left: 66.6666666667%; }

  .colM9 {
    width: 75%; }

  .offsetM9 {
    margin-left: 75%; }

  .colM10 {
    width: 83.3333333333%; }

  .offsetM10 {
    margin-left: 83.3333333333%; }

  .colM11 {
    width: 91.6666666667%; }

  .offsetM11 {
    margin-left: 91.6666666667%; }

  .colM12 {
    width: 100%; }

  .offsetM12 {
    margin-left: 100%; } }
@media (min-width: 1100px) {
  .colL1 {
    width: 8.3333333333%; }

  .offsetL1 {
    margin-left: 8.3333333333%; }

  .colL2 {
    width: 16.6666666667%; }

  .offsetL2 {
    margin-left: 16.6666666667%; }

  .colL3 {
    width: 25%; }

  .offsetL3 {
    margin-left: 25%; }

  .colL4 {
    width: 33.3333333333%; }

  .offsetL4 {
    margin-left: 33.3333333333%; }

  .colL5 {
    width: 41.6666666667%; }

  .offsetL5 {
    margin-left: 41.6666666667%; }

  .colL6 {
    width: 50%; }

  .offsetL6 {
    margin-left: 50%; }

  .colL7 {
    width: 58.3333333333%; }

  .offsetL7 {
    margin-left: 58.3333333333%; }

  .colL8 {
    width: 66.6666666667%; }

  .offsetL8 {
    margin-left: 66.6666666667%; }

  .colL9 {
    width: 75%; }

  .offsetL9 {
    margin-left: 75%; }

  .colL10 {
    width: 83.3333333333%; }

  .offsetL10 {
    margin-left: 83.3333333333%; }

  .colL11 {
    width: 91.6666666667%; }

  .offsetL11 {
    margin-left: 91.6666666667%; }

  .colL12 {
    width: 100%; }

  .offsetL12 {
    margin-left: 100%; } }
body {
  width: 100%;
  background-color: #E0E0E0;
  max-width: 1200px;
  margin: 0 auto; }

img {
  width: 100%; }

.headerContainer {
  width: 100%;
  min-height: 40px;
  background-color: #86C232; }
  .headerContainer:after {
    clear: both;
    content: "";
    display: block; }
  .headerContainer #logo {
    float: left;
    width: 80px;
    background-color: #86C232; }
    .headerContainer #logo img {
      display: block;
      padding: 5%; }
  .headerContainer #hamburger {
    float: right;
    padding: 10px; }
    .headerContainer #hamburger i {
      font-size: 2em; }
  .headerContainer #links {
    display: none;
    clear: both; }
    .headerContainer #links ul {
      padding: 10px;
      list-style: none; }
      .headerContainer #links ul li {
        padding-top: 5px; }
        .headerContainer #links ul li a {
          font-family: "Century Gothic";
          color: #222629;
          text-decoration: none;
          text-transform: uppercase;
          font-weight: bold; }

.heroImage {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.mainImageHeight {
  height: 400px; }

.mainImage {
  background-image: url("../images/mainImage.jpg");
  text-align: center; }

.newsImage {
  background-image: url("../images/ladyReading.jpg"); }

.meetingImage {
  background-image: url("../images/meeting.png"); }

.joinImage {
  background-image: url("../images/manaJoin.png"); }

.plantImage {
  background-image: url("../images/cameraIdPlant.png"); }

.fieldImage {
  background-image: url("../images/bushWalk.jpg"); }

.moreImage {
  background-image: url("../images/rareplant.png"); }

.headings {
  clear: both; }

h1, h2, h3 {
  font-family: "Century Gothic";
  text-align: center; }

h4 {
  font-family: "Arial";
  font-size: 1.2em;
  font-weight: bold;
  padding: 10px; }

.topHeading {
  font-size: 2.5em; }

.subHeading {
  font-size: 1.5em; }

.headingStyle {
  color: #EDF5E1;
  padding: 20px; }

.textBox {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  padding: 10px; }

.bigTextBox {
  width: 90%;
  border-radius: 10px; }

.whiteBox {
  background-color: #EDF5E1; }

.greyBox {
  background-color: #7f8fa6; }

.smallTextBox {
  width: 40%;
  border-radius: 30px; }

.introBox p {
  font-family: "Century Gothic";
  text-align: center;
  font-size: 1.25em; }

.titleBox {
  width: 60%;
  background-color: #EDF5E1;
  border-radius: 10px; }

a {
  text-decoration: none;
  color: #222629; }

.externalLink {
  color: #86C232; }

.middleSection {
  clear: both; }
  .middleSection a {
    text-transform: uppercase; }
  .middleSection .midSection {
    padding-bottom: 20px; }
  .middleSection .midIcons {
    height: 100px;
    width: 100px;
    margin: 0 auto;
    padding: 10px; }
  .middleSection p {
    display: none;
    font-family: "Arial";
    text-align: center;
    padding-left: 10px;
    padding-right: 10px; }

.newsletterBox {
  width: 100%;
  padding: 10px;
  text-align: center; }
  .newsletterBox:after {
    clear: both;
    content: "";
    display: block; }

.tableBox {
  display: inline-block; }

.newsletterTable {
  font-family: "Arial", sans-serif;
  border-collapse: collapse;
  width: 100%;
  padding: 30px 20px;
  display: inline; }
  .newsletterTable td, .newsletterTable th {
    border: 1px solid #ddd;
    padding: 15px; }
    .newsletterTable td a, .newsletterTable th a {
      text-decoration: none;
      color: inherit; }
      .newsletterTable td a:visited, .newsletterTable th a:visited {
        color: #b7b7b7; }
  .newsletterTable tr:nth-child(even) {
    background-color: #f2f2f2; }
  .newsletterTable td:hover {
    background-color: #86C232; }
  .newsletterTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #222629;
    font-family: "Century Gothic";
    color: #EDF5E1; }

.regularText {
  font-family: "Arial";
  font-size: 1.2em; }

p.regularText {
  font-family: "Arial";
  font-size: 1.2em;
  padding-left: 10px;
  padding-right: 10px; }

.memberRatesBox {
  margin: 0 auto;
  border: 1px solid;
  border-radius: 20px;
  padding: 30px 20px 30px 40px;
  max-width: 360px;
  background-color: #f7e954; }

li {
  font-family: "Arial";
  font-size: 1.2em; }

.footerContainer {
  padding-top: 10px;
  clear: both;
  margin: 0 auto;
  background-color: #E0E0E0;
  padding-bottom: 20px; }
  .footerContainer a {
    text-decoration: none;
    color: #EDF5E1; }
  .footerContainer .facebookLink {
    display: block;
    margin: 0 auto;
    width: 12%; }

.gmapCanvas {
  display: flex;
  justify-content: center;
  overflow: hidden;
  background: none !important;
  height: 100%;
  width: 100%;
  padding: 10px; }

iframe {
  width: 60%;
  height: 100%;
  border: 0; }

#uploadImage {
  margin: 20px 40px;
  padding: 20px;
  border: 1px solid #222629;
  border-radius: 20px;
  background-color: #f7e954; }

#plantInfoList {
  margin: 20px 40px; }

.daytripList {
  margin: 20px 40px; }

@media only screen and (min-width: 720px) {
  .headerContainer {
    display: flex; }
    .headerContainer #logo {
      width: 10%; }
      .headerContainer #logo img {
        display: block !important; }
    .headerContainer #hamburger {
      display: none; }
    .headerContainer #links {
      display: block !important;
      width: 85%; }
      .headerContainer #links ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100%; }
        .headerContainer #links ul li:hover a {
          color: white; }

  h2 {
    font-size: 2em; }

  .mainImage {
    height: 500px; }

  .titleBox h1 {
    font-size: 3em; }

  .topHeading {
    font-size: 4em;
    padding: 40px; }

  .subHeading {
    font-size: 2em;
    padding: 40px; }

  .memberJoin, .downloadNews {
    font-size: 1.2em; }

  .introBox p {
    font-weight: bold; }

  .middleSection p {
    display: block; }

  iframe {
    width: 70%;
    height: 300px; }

  .footerContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .footerContainer .downloadNews {
      order: 1; }
    .footerContainer .memberJoin {
      align-items: center;
      order: 3; }
    .footerContainer .facebookLink {
      padding-top: 10px;
      order: 2;
      width: 9%; }

  #memberRatesBox li {
    font-size: 1.5em; } }
@media only screen and (min-width: 1100px) {
  .topHeading {
    font-size: 6em;
    padding: 40px; }

  .subHeading {
    font-size: 2em;
    padding: 40px; }

  .facebookLink {
    padding-top: 12px;
    width: 7%; }

  iframe {
    height: 500px; } }

/*# sourceMappingURL=style.css.map */
