* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

.row {
  margin-bottom: 15px; }
  .row::after {
    clear: both;
    display: block;
    content: ""; }

.col {
  float: left; }

.col1 {
  width: 8.3333333333%; }

.offset1 {
  margin-left: 8.3333333333%; }

.col2 {
  width: 16.6666666667%; }

.offset2 {
  margin-left: 16.6666666667%; }

.col3 {
  width: 25%; }

.offset3 {
  margin-left: 25%; }

.col4 {
  width: 33.3333333333%; }

.offset4 {
  margin-left: 33.3333333333%; }

.col5 {
  width: 41.6666666667%; }

.offset5 {
  margin-left: 41.6666666667%; }

.col6 {
  width: 50%; }

.offset6 {
  margin-left: 50%; }

.col7 {
  width: 58.3333333333%; }

.offset7 {
  margin-left: 58.3333333333%; }

.col8 {
  width: 66.6666666667%; }

.offset8 {
  margin-left: 66.6666666667%; }

.col9 {
  width: 75%; }

.offset9 {
  margin-left: 75%; }

.col10 {
  width: 83.3333333333%; }

.offset10 {
  margin-left: 83.3333333333%; }

.col11 {
  width: 91.6666666667%; }

.offset11 {
  margin-left: 91.6666666667%; }

.col12 {
  width: 100%; }

.offset12 {
  margin-left: 100%; }

@media (min-width: 600px) {
  .colM1 {
    width: 8.3333333333%; }

  .offsetM1 {
    margin-left: 8.3333333333%; }

  .colM2 {
    width: 16.6666666667%; }

  .offsetM2 {
    margin-left: 16.6666666667%; }

  .colM3 {
    width: 25%; }

  .offsetM3 {
    margin-left: 25%; }

  .colM4 {
    width: 33.3333333333%; }

  .offsetM4 {
    margin-left: 33.3333333333%; }

  .colM5 {
    width: 41.6666666667%; }

  .offsetM5 {
    margin-left: 41.6666666667%; }

  .colM6 {
    width: 50%; }

  .offsetM6 {
    margin-left: 50%; }

  .colM7 {
    width: 58.3333333333%; }

  .offsetM7 {
    margin-left: 58.3333333333%; }

  .colM8 {
    width: 66.6666666667%; }

  .offsetM8 {
    margin-left: 66.6666666667%; }

  .colM9 {
    width: 75%; }

  .offsetM9 {
    margin-left: 75%; }

  .colM10 {
    width: 83.3333333333%; }

  .offsetM10 {
    margin-left: 83.3333333333%; }

  .colM11 {
    width: 91.6666666667%; }

  .offsetM11 {
    margin-left: 91.6666666667%; }

  .colM12 {
    width: 100%; }

  .offsetM12 {
    margin-left: 100%; } }
@media (min-width: 1000px) {
  .colL1 {
    width: 8.3333333333%; }

  .offsetL1 {
    margin-left: 8.3333333333%; }

  .colL2 {
    width: 16.6666666667%; }

  .offsetL2 {
    margin-left: 16.6666666667%; }

  .colL3 {
    width: 25%; }

  .offsetL3 {
    margin-left: 25%; }

  .colL4 {
    width: 33.3333333333%; }

  .offsetL4 {
    margin-left: 33.3333333333%; }

  .colL5 {
    width: 41.6666666667%; }

  .offsetL5 {
    margin-left: 41.6666666667%; }

  .colL6 {
    width: 50%; }

  .offsetL6 {
    margin-left: 50%; }

  .colL7 {
    width: 58.3333333333%; }

  .offsetL7 {
    margin-left: 58.3333333333%; }

  .colL8 {
    width: 66.6666666667%; }

  .offsetL8 {
    margin-left: 66.6666666667%; }

  .colL9 {
    width: 75%; }

  .offsetL9 {
    margin-left: 75%; }

  .colL10 {
    width: 83.3333333333%; }

  .offsetL10 {
    margin-left: 83.3333333333%; }

  .colL11 {
    width: 91.6666666667%; }

  .offsetL11 {
    margin-left: 91.6666666667%; }

  .colL12 {
    width: 100%; }

  .offsetL12 {
    margin-left: 100%; } }
body {
  width: 100%;
  background-color: #E0E0E0;
  max-width: 1200px;
  margin: 0 auto; }

img {
  width: 100%; }

.headerContainer {
  width: 100%;
  min-height: 40px;
  background-color: #86C232; }
  .headerContainer:after {
    clear: both;
    content: "";
    display: block; }
  .headerContainer #logo {
    float: left;
    width: 80px;
    background-color: #EDF5E1; }
    .headerContainer #logo img {
      display: block; }
  .headerContainer #hamburger {
    float: right;
    padding: 10px; }
    .headerContainer #hamburger i {
      font-size: 2em; }
  .headerContainer #links {
    display: none;
    clear: both; }
    .headerContainer #links ul {
      padding: 10px;
      list-style: none; }
      .headerContainer #links ul li {
        padding-top: 5px; }
        .headerContainer #links ul li a {
          font-family: "Century Gothic";
          color: #222629;
          text-decoration: none;
          text-transform: uppercase;
          font-weight: bold; }

#mainImage {
  height: 300px;
  width: 100%;
  background-image: url("../images/mainImage.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center; }

#newsImage {
  height: 300px;
  width: 100%;
  background-image: url("../images/ladyReading.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center; }

#headings {
  clear: both; }

h1, h2, h3 {
  font-family: "Century Gothic";
  text-align: center; }

#topHeading {
  font-size: 10vw;
  color: #EDF5E1;
  padding: 20px; }

#subHeading {
  font-size: 3.5vw;
  color: #EDF5E1;
  padding: 20px; }

.textBox {
  display: block;
  background-color: #EDF5E1;
  width: 80%;
  border: 1px solid #222629;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 8px; }

#introBox p {
  font-family: "Century Gothic";
  text-align: center; }

#middleSection {
  clear: both;
  margin-bottom: 15px; }
  #middleSection a {
    text-decoration: none;
    color: #222629;
    text-transform: uppercase; }
  #middleSection .midIcons {
    margin: 0 auto;
    padding: 20px; }
  #middleSection p {
    font-family: "Arial";
    text-align: center; }

.footerContainer {
  border-top: 1px solid #EDF5E1;
  clear: both;
  margin: 0 auto; }
  .footerContainer a {
    text-decoration: none;
    color: #222629; }

#facebookLink {
  display: block;
  margin: 0 auto;
  width: 20%; }

@media only screen and (max-width: 600px) {
  #otherSections {
    display: none; }

  .midIcons {
    width: 65%; } }
@media only screen and (min-width: 600px) {
  .headerContainer {
    display: flex; }
    .headerContainer #logo {
      padding: 5% x;
      width: 10%;
      background-color: white; }
    .headerContainer #hamburger {
      display: none; }
    .headerContainer #links {
      display: block !important;
      width: 85%; }
      .headerContainer #links ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100%; }
        .headerContainer #links ul li:hover a {
          color: white; }

  #mainImage {
    height: 500px; }

  h1, h3 {
    padding: 40px; }

  p {
    font-size: 1.25em; } }
@media only screen and (min-width: 1000px) {
  #topHeading {
    font-size: 8vw; }

  #subHeading {
    font-size: 2.5vw; } }

/*# sourceMappingURL=style.css.map */
