*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

@import "variables";
@import "grid";

@mixin clear{
    &:after{
        clear: both;
        content: "";
        display: block;
    }
}

body{
	width: 100%;
    background-color: $primaryColour;
}

img{
	width: 100%;
}

.headerContainer{
    width: 100%;
    min-height: 40px;
	background-color: $secondaryColour;
	@include clear;
	#logo{
		float: left;
		width: 80px;
		img{
			display: block;
		}
	}
	#hamburger{
		float: right;
		padding: 10px;
		i{
			font-size: 2em;
		}
	}
	#links{
		display: none;
		clear: both;
		ul{
			padding: 10px;
			list-style: none;
			li{
				padding-top: 5px;
				a{
					font-family: $primaryFont;
	    			color: $black;
	    			text-decoration: none;
	    			text-transform: uppercase;
	    			font-weight: bold; 
				}
			}
		}
	}
}


#mainImage{
	height: 400px;
	width: 100%;
	background-image: url("../images/mainImage.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
}



#headings{
	clear: both;
}


h1, h3{
	font-family: $primaryFont;
	color: $white;
	text-align: center;
	padding: 40px ;
}

#topHeading{
	font-size: 10vw;
}

#subHeading{
	font-size: 3.5vw;
}

#introBox{
	display: block;
	background-color: $white;
	width: 80%;
	border: 1px solid $black;
	border-radius: 10px;
	margin: 0 auto;
	margin-top: 20px;
	padding: 6px;
	
	p{
		font-family: $primaryFont;
		text-align: center;
	}
}

















@media only screen and (min-width: 600px){
	.headerContainer{
		display: flex;
		#logo{
			padding: 10px;
			width: 10%;
			background-color: white;
		}
		#hamburger{
			display: none;
		}
		#links{
			display: block !important;
			width: 85%;
			ul{
				display: flex;
				justify-content: space-around;
				align-items: center;
				height: 100%;
				li{

					&:hover{
						a{
							color: white;
						}
						
					}
				}
			}
		}
	}
	#mainImage{
		height: 600px;
	}
}











