*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

@import "variables";
@import "grid";

@mixin clear{
    &:after{
        clear: both;
        content: "";
        display: block;
    }
}

body{
	width: 100%;
    background-color: $primaryColour;
    max-width: 1200px;
    margin: 0 auto;
}

img{
	width: 100%;
}

.headerContainer{
    width: 100%;
    min-height: 40px;
	background-color: $secondaryColour;
	@include clear;
	#logo{
		float: left;
		width: 80px;
		background-color: $secondaryColour;
		img{
			display: block;
			padding: 5%;
		}
	}
	#hamburger{
		float: right;
		padding: 10px;
		i{
			font-size: 2em;
		}
	}
	#links{
		display: none;
		clear: both;
		ul{
			padding: 10px;
			list-style: none;
			li{
				padding-top: 5px;
				a{
					font-family: $primaryFont;
	    			color: $black;
	    			text-decoration: none;
	    			text-transform: uppercase;
	    			font-weight: bold; 
				}
			}
		}
	}
}


#mainImage{
	height: 300px;
	width: 100%;
	background-image: url("../images/mainImage.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
}

#newsImage{
	min-height: 274px;
	width: 100%;
	background-image: url("../images/ladyReading.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#headings{
	clear: both;
}


h1, h2, h3{
	font-family: $primaryFont;
	text-align: center;
}

#topHeading{
	font-size: 2.5em;
	color: $white;
	padding: 20px;
}

#subHeading{
	font-size: 1em;
	color: $white;
	padding: 20px;
}

.textBox{
	display: block;
	margin: 0 auto;
	margin-top: 20px;
}

.bigTextBox{
	width: 80%;
	background-color: $white;
	border-radius: 10px;
	padding: 10px;
}

.smallTextBox{
	width: 40%;
	background-color: #7f8fa6;
	border-radius: 30px;
	padding: 10px;
}

#introBox{
	p{
		font-family: $primaryFont;
		text-align: center;
		font-size: 1.25em;
	}
}

#middleSection{
	clear: both;
	// margin-bottom: 15px;
	a{
		text-decoration: none;
		color: $black;
		text-transform: uppercase;
	}
	.midSection{
		padding-bottom: 20px;
	}
	.midIcons{
	height: 100px;
	width: 100px;
	margin: 0 auto;
	padding: 10px;
	}
	p{
		display: none;
		font-family: $secondaryFont;
		text-align: center;
		padding-left: 10px;
		padding-right: 10px;
	}
}


.footerContainer{
	padding-top: 10px;
	clear: both;
	margin: 0 auto;
	background-color: $primaryColour;
	padding-bottom: 20px;
	a{
		text-decoration: none;
		color: $white;
	}
	#facebookLink{
		display: block;
		margin: 0 auto;
		width: 12%;
	}
}




@media only screen and (min-width: $mdWidth){
	.headerContainer{
		display: flex;
		#logo{
			width: 10%;
			img{
				display: block !important;
			}
		}
		#hamburger{
			display: none;
		}
		#links{
			display: block !important;
			width: 85%;
			ul{
				display: flex;
				justify-content: space-around;
				align-items: center;
				height: 100%;
				li{
					&:hover{
						a{
							color: white;
						}	
					}
				}
			}
		}
	}

	#mainImage{
		height: 500px;
		}
	
	#topHeading{
		font-size: 4em;
		padding: 40px;
	}
	#subHeading{
		font-size: 1.5em;
		padding: 40px;
	}
	
	#memberJoin, #downloadNews{
	font-size: 1.2em;
	}
	
	#introBox{
		p{
		font-weight: bold;
		}
	}

	#middleSection p{
		display: block;
	}

	.footerContainer{
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		#downloadNews{
			order:1;
		}
		#memberJoin{
			align-items: center;
			order:3;
		}
		#facebookLink{
			padding-top: 10px;
			order: 2;
			width: 9%;
		}
	}
}


@media only screen and (min-width: $lgWidth){
	#topHeading{
		font-size: 6em;
		padding: 40px;
	}
	#subHeading{
		font-size: 2em;
		padding: 40px;
	}
	#facebookLink{
			padding-top: 12px;
			width: 7%;
		}
}



