*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

@import "variables";
@import "grid";

@mixin clear{
    &:after{
        clear: both;
        content: "";
        display: block;
    }
}

body{
	width: 100%;
    background-color: $primaryColour;
    max-width: 1200px;
    margin: 0 auto;
}

img{
	width: 100%;
}

.headerContainer{
    width: 100%;
    min-height: 40px;
	background-color: $secondaryColour;
	@include clear;
	#logo{
		float: left;
		width: 80px;
		background-color: $secondaryColour;
		img{
			display: block;
			padding: 5%;
		}
	}
	#hamburger{
		float: right;
		padding: 10px;
		i{
			font-size: 2em;
		}
	}
	#links{
		display: none;
		clear: both;
		ul{
			padding: 10px;
			list-style: none;
			li{
				padding-top: 5px;
				a{
					font-family: $primaryFont;
	    			color: $black;
	    			text-decoration: none;
	    			text-transform: uppercase;
	    			font-weight: bold; 
				}
			}
		}
	}
}

.heroImage{
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#mainImage{
	height: 300px;
	background-image: url("../images/mainImage.jpg");
	text-align: center;
}

#newsImage{
	background-image: url("../images/ladyReading.jpg");
	height:400px;
}

#meetingImage{
	background-image: url("../images/meeting.png");
	height:400px;
}

#joinImage{
	background-image: url("../images/manaJoin.png");
	height:400px;
}

#plantImage{
	background-image: url("../images/cameraIdPlant.png");
	height:400px;
}

#fieldImage{
	background-image: url("../images/bushWalk.jpg");
	height:400px;
}

#moreImage{
	background-image: url("../images/rareplant.png");
	height: 400px; 
}

#headings{
	clear: both;
}


h1, h2, h3{
	font-family: $primaryFont;
	text-align: center;
}

h4{
	font-family: $secondaryFont;
	font-size: 1.2em;
	font-weight: bold;
	padding: 10px;
}

#topHeading{
	font-size: 2.5em;
	color: $white;
	padding: 20px;
}

#subHeading{
	font-size: 1em;
	color: $white;
	padding: 20px;
}

.textBox{
	display: block;
	margin: 0 auto;
	margin-top: 20px;
	padding: 10px;
}

.bigTextBox{
	width: 90%;
	background-color: $white;
	border-radius: 10px;
}

.smallTextBox{
	width: 44%;
	background-color: #7f8fa6;
	border-radius: 30px;
}

.introBox{
	p{
		font-family: $primaryFont;
		text-align: center;
		font-size: 1.25em;
	}
}

.titleBox{
	width: 60%;
	background-color: $white;
	border-radius: 10px;
}

a{
	text-decoration: none;
	color: $black;
}

.externalLink{
	color: $secondaryColour;
}

#middleSection{
	clear: both;
	a{
		text-transform: uppercase;
	}
	.midSection{
		padding-bottom: 20px;
	}
	.midIcons{
	height: 100px;
	width: 100px;
	margin: 0 auto;
	padding: 10px;
	}
	p{
		display: none;
		font-family: $secondaryFont;
		text-align: center;
		padding-left: 10px;
		padding-right: 10px;
	}
}

.newsletterBox{
	@include clear;
	width: 100%;
	padding: 10px;
	text-align: center;
}

.tableBox{
	display: inline-block;
}

.newsletterTable{
	font-family: $secondaryFont, sans-serif;
	border-collapse: collapse;
	width: 100%;
	padding: 30px 20px;
	display: inline;
	td,th {
		border: 1px solid #ddd;
		padding: 15px;
		a {text-decoration: none;
			color: inherit;
			&:visited{
			color: #b7b7b7;
			}
		}
	}
	tr:nth-child(even){
		background-color: #f2f2f2;
	}
	tr:hover{
		background-color: $secondaryColour;
	}
	th{
	  padding-top: 12px;
	  padding-bottom: 12px;
	  text-align: center;
	  background-color: $black;
	  font-family: $primaryFont;
	  color: $white;
	}
}

.regularText{
	font-family: $secondaryFont;
	font-size: 1.2em;
}

p.regularText{
	font-family: $secondaryFont;
	font-size: 1.2em;
	padding-left: 10px;
	padding-right: 10px;
}

#memberRatesBox{
	margin: 0 auto;
	border: 1px solid;
	border-radius: 20px;
	padding: 30px 20px 30px 40px;
	max-width: 360px;
	background-color: $yellow;
}

li{
	font-family: $secondaryFont;
	font-size: 1.2em;
}

.footerContainer{
	padding-top: 10px;
	clear: both;
	margin: 0 auto;
	background-color: $primaryColour;
	padding-bottom: 20px;
	a{
		text-decoration: none;
		color: $white;
	}
	#facebookLink{
		display: block;
		margin: 0 auto;
		width: 12%;
	}
}

.gmapCanvas{
	display: flex;
	justify-content: center;
	overflow:hidden;
	background:none!important;
	height:100%;
	width:100%;
	padding: 10px;
}

iframe{
	width: 60%;
	height: 100%;
	border: 0;
}

#uploadImage{
	margin: 20px 40px;
	padding: 20px;
	border: 1px solid $black;
	border-radius: 20px;
	background-color: $yellow;
}

#plantInfoList{
	margin: 20px 40px;
}

.daytripList{
	margin: 20px 40px;
}

@media only screen and (min-width: $mdWidth){
	.headerContainer{
		display: flex;
		#logo{
			width: 10%;
			img{
				display: block !important;
			}
		}
		#hamburger{
			display: none;
		}
		#links{
			display: block !important;
			width: 85%;
			ul{
				display: flex;
				justify-content: space-around;
				align-items: center;
				height: 100%;
				li{
					&:hover{
						a{
							color: white;
						}	
					}
				}
			}
		}
	}

	#mainImage{
		height: 500px;
		}

	.titleBox{
		h1{
			font-size:3em;
		}
	}

	#topHeading{
		font-size: 4em;
		padding: 40px;
	}
	#subHeading{
		font-size: 1.5em;
		padding: 40px;
	}
	
	#memberJoin, #downloadNews{
	font-size: 1.2em;
	}
	
	#introBox{
		p{
		font-weight: bold;
		}
	}

	#middleSection p{
		display: block;
	}

	iframe{
		width: 70%;
		height: 300px;
	}

	.footerContainer{
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		#downloadNews{
			order:1;
		}
		#memberJoin{
			align-items: center;
			order:3;
		}
		#facebookLink{
			padding-top: 10px;
			order: 2;
			width: 9%;
		}
	}
	#memberRatesBox li{
		font-size: 1.5em;
	}
}


@media only screen and (min-width: $lgWidth){
	#topHeading{
		font-size: 6em;
		padding: 40px;
	}
	#subHeading{
		font-size: 2em;
		padding: 40px;
	}
	#facebookLink{
			padding-top: 12px;
			width: 7%;
		}
	iframe{
		height: 500px;
	}	
}



